<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<a class="navbar-brand" href="#"></a>
			<ul class="nav navbar-nav">
				<li>{{#link-to 'index'}}Home{{/link-to}}</li>
				<li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
				<li>{{#link-to 'about'}}About Me{{/link-to}}</li>
				<li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
			</ul>
		</div>
	</div>
</nav>