<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<a class="navbar-brand" href="#"></a>
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/posts">Posts</a></li>
				<li><a href="/about">About Me</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>