/* General site-wide stuff */
$my-small-h1-green: #66b319;

a {
  color: #73c91d; /* green */
}

ol, ul {
  list-style: none;
}

h1 {
  small {
   color: $my-small-h1-green; /* green */
  }
}

h2 small, h3 small {
  color: #99e64d; /* green */
}

.truncate-dots {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Navbar */

.navbar-collapse {
   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      float: left;
    }

  }
}

.navbar {
  border-radius: 0;
  border: none;
}

/* Footer */

.footer {
  padding-bottom: 3em;
  text-align: center;
}

/* Contact Links */

.info-links-list {
  margin: 0;
  padding: 1.1em 0 0 0;
  font-size: 1.3em;
  line-height: 2em;
  animation-duration: 1.5s;
  animation-name: slidein-links;
}

@keyframes slidein-links {
  from {
    margin-top: -10%;
  }

  to {
    margin-top: 0%;
  }
}

/* Images */

.circle-img {
  border-radius: 50%;
}

.page-header {
  width: 100%;
  margin: 0;
  position: relative;

  h1 {
    z-index: 100;
    left: 1em;
    bottom: 0.1em;
    position: absolute;
    color: black;
    font-size: 3.5em;
    line-height: 1.5em;
  }

}

$banner-text-h1-size: 2.5em/2;

.banner-text {
  opacity: 0.65;

  h1 {

    @media screen and (min-width: 768px) {
      font-size: $banner-text-h1-size * 2;
    }

    @media screen and (min-width: 325px) and (max-width: 767px) {
      font-size: $banner-text-h1-size * 1.5;
    }

    font-size: $banner-text-h1-size;
    width: 100%;
    margin: 0;
    padding: 0em 1em 0.2em 0em;

    :after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: snow;
      z-index: -1;
      margin: 0em 0em 0em -1.5em;
    }

  }

}

.header-banner {
  width: 100%;
  margin: -2em 0 0 0;
  z-index: 1;
}

.thumbnail {
  border-radius: 0;
  border: 1px solid #b3ec79; /* green */
  padding: 0;
  -webkit-box-shadow: 0px 3px 10px -1px rgba(178,191,184,1);
  -moz-box-shadow: 0px 3px 10px -1px rgba(178,191,184,1);
  box-shadow: 0px 3px 10px -1px rgba(178,191,184,1);
}

.archive-thumbnail {
  max-height: 64px;
  border: 2px solid #b3ec79; /* green */
}

.archive-thumbnail:hover {
  max-height: 64px;
  border: 2px solid #b3ec79; /* green */
  outline: 1px solid #b3ec79; /* green */
}

.post-thumbnail:hover {
  outline: 5px solid #b3ec79; /* green */
  width: 100%;
  margin-top: 1px;
}

.image-caption-post {
  font-size: 0.9em;
  color: gray;
}

/*Home page text */

.caption a h3 {
  color: black;
  text-decoration: none;
}

.caption a h3:hover {
  color: #73c91d; /* green */
  text-decoration: none;
}

.caption a:hover {
  text-decoration: none;
}

/* Archive text */

h4 a {
  text-decoration: none;
}

h4 a:hover {
  color: #73c91d; /* green */
  text-decoration: none;
}

.archive {
  border: 1px solid snow;
  padding: 0.5em;
  margin: 0.8em;
  -webkit-box-shadow: 0px 4px 8px -3px rgba(178,191,184,1);
  -moz-box-shadow: 0px 4px 8px -3px rgba(178,191,184,1);
  box-shadow: 0px 4px 8px -3px rgba(178,191,184,1);
}

.archive:hover {
  outline: 1px solid #b3ec79; /* green */
}

/* About Me text */
$about-me-text-size: 1.3em;
$odd-li-padding: 5em;
$even-li-padding: 3em;

.about-me {
  @media screen and (min-width: 1px) and (max-width: 324px){
    font-size: $about-me-text-size*0.75;
  }

  @media screen and (min-width: 325px) and (max-width: 767px) {
    font-size: $about-me-text-size*0.8;
  }

  font-size: $about-me-text-size;
  padding: 0;
  line-height: 2.2em;

  li:nth-of-type(odd):before {
    @media screen and (min-width: 1px) and (max-width: 324px){
      padding-right: $odd-li-padding*0.3;
    }
    
    @media screen and (min-width: 325px) and (max-width: 767px) {
      padding-right: $odd-li-padding*0.4;
    }

    color: gold;
    padding-right: $odd-li-padding;
    content: ' ☆‿☆';
  }

  li:nth-of-type(even):before {
    @media screen and (min-width: 1px) and (max-width: 324px){
      padding-right: $even-li-padding*0.3;
    }

    @media screen and (min-width: 325px) and (max-width: 767px) {
      padding-right: $even-li-padding*0.4;
    }

    color: lightgreen;
    padding-right: $even-li-padding;
    content: '(ﾉ◕ヮ◕)ﾉ *˖.☆✧° ';
  }

}

