/* General site-wide stuff */

a {
	color: #73c91d; /* green */
}

ol, ul {
	list-style: none;
}

h1 small {
	color: #66b319; /* green */
}

h2 small, h3 small {
	color: #99e64d; /* green */
}

.truncate-dots {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Navbar */

.navbar-collapse > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-collapse > ul > li {
	float: left;
}

.navbar {
	border-radius: 0;
	border: none;
}

/* Footer */

.footer {
	padding-bottom: 3em;
	text-align: center;
}

/* Contact Links */

.info-links-list {
	margin: 0;
	padding: 0;
	font-size: 1.3em;
	line-height: 2em;
}

/* Images */

.circle-img {
	border-radius: 50%;
}

.page-header {
	width: 100%;
	margin: 0;
	position: relative;
}

.page-header h1 {
	z-index: 100;
	left: 1em;
	bottom: 0.1em;
	position: absolute;
	color: black;
	font-size: 3.5em;
	line-height: 1.5em;
}

.banner-text {
	opacity: 0.65;
}

.banner-text h1 {
	font-size: 2.5em;
	width: 749px;
}

.banner-text:after {
  content: '';
  position: absolute;
  bottom: 0.6em;
  width: 100%;
  height: 4.5em;
  background: snow;
  z-index: -1;
}

.header-banner {
	width: 100%;
	margin: -2em 0 0 0;
	z-index: 1;
}

.thumbnail {
	border-radius: 0;
	border: 1px solid #b3ec79; /* green */
	padding: 0;
	-webkit-box-shadow: 0px 3px 10px -1px rgba(178,191,184,1);
	-moz-box-shadow: 0px 3px 10px -1px rgba(178,191,184,1);
	box-shadow: 0px 3px 10px -1px rgba(178,191,184,1);
}

.archive-thumbnail {
	max-height: 64px;
	border: 2px solid #b3ec79; /* green */
}

.archive-thumbnail:hover {
	max-height: 64px;
	border: 2px solid #b3ec79; /* green */
	outline: 1px solid #b3ec79; /* green */
}

.post-thumbnail:hover {
	outline: 5px solid #b3ec79; /* green */
	width: 100%;
	margin-top: 1px;
}

.image-caption-post {
	font-size: 0.9em;
	color: gray;
}

/*Home page text */

.caption a h3 {
	color: black;
  text-decoration: none;
}

.caption a h3:hover {
	color: #73c91d; /* green */
  text-decoration: none;
}

.caption a:hover {
  text-decoration: none;
}

/* Archive text */

h4 a {
	text-decoration: none;
}

h4 a:hover {
	color: #73c91d; /* green */
	text-decoration: none;
}

.archive {
	border: 1px solid snow;
	padding: 0.5em;
	margin: 0.8em;
	-webkit-box-shadow: 0px 4px 8px -3px rgba(178,191,184,1);
	-moz-box-shadow: 0px 4px 8px -3px rgba(178,191,184,1);
	box-shadow: 0px 4px 8px -3px rgba(178,191,184,1);
}

.archive:hover {
	outline: 1px solid #b3ec79; /* green */
}

/* About Me text */

.about-me {
	font-size: 1.2em;
	padding: 0;
	line-height: 2.2em;
}

.about-me  > li:nth-of-type(odd):before {
	color: gold;
	padding-right: 5em;
  content: ' ☆‿☆';
}

.about-me  > li:nth-of-type(even):before {
	color: lightgreen;
	padding-right: 3em;
  content: '(ﾉ◕ヮ◕)ﾉ *˖.☆✧° ';
}
