a {
	color: #73c91d; /* green */
}

ol, ul {
	list-style: none;
}

.navbar {
	border-radius: 0;
	border: none;
}

.thumbnail {
	border-radius: 0;
	border: 1px solid #b3ec79; /* green */
	padding: 0;
	-webkit-box-shadow: 0px 3px 10px -1px rgba(178,191,184,1);
	-moz-box-shadow: 0px 3px 10px -1px rgba(178,191,184,1);
	box-shadow: 0px 3px 10px -1px rgba(178,191,184,1);
}

.logo {
	width: 100%;
	margin: -2em 0 0 0;
}