<div class="container">

	<h1>
		Julie David, Web Developer
	</h1>

  <a href="http://julemagne.github.io/portfolio" target="_blank">
		<img class="circle-img pull-right" src="assets/images/avatar.jpg" alt="Me"/>
	</a>

	<ul class="about-me">
		<li>I'm a Ruby on Rails and MEAN stack developer currently living in the Triangle area of North Carolina, USA.</li>
		<li>Now, I'm learning Ember and Angular 1 & 2!</li>
		<li>I completed the Back End Engineering course at the Iron Yard Durham programming bootcamp in 2015. </li>
		<li>Before I was a developer, I was a freelance artist. </li>
		<li>I'm still happiest when I am creating incredible things.</li>
	</ul>

</div>