<div class="container">

	<h1 class="fadeIn">
		Julie David, Web Developer
	</h1>

  <a href="http://julemagne.github.io/portfolio" target="_blank">
		<img class="circle-img pull-right" src="assets/images/avatar.jpg" alt="Me"/>
	</a>

	<ul class="about-me">
		<li>I'm a software engineer currently living in the Triangle area of North Carolina, USA.</li>
		<li>I love Ruby on Rails, MEAN stack, Ember, and Angular!</li>
		<li>Now, I'm learning User Experience Engineering!</li>
		<li>I completed the Back End Engineering course at the Iron Yard Durham programming bootcamp in 2015. </li>
		<li>Before I was a developer, I was a freelance artist. </li>
		<li>I'm still happiest when I am creating incredible things.</li>
	</ul>

</div>