<!-- Menu -->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<a class="navbar-brand" href="#"></a>
			<ul class="nav navbar-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Posts</a></li>
				<li><a href="#">About Me</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>

<div>
	<img class="logo" src="https://c3.staticflickr.com/8/7564/28372010794_95338d23ec_b.jpg" alt="Triangle GEMconf #emberjs">
</div>

<div class="container">

	<div class="page-header">
		<h1>Blog and Ideas to Remember <small style="color:limegreen;">posts by Julie David </small></h1>
	</div>

	<div class="row">

	  <div class="col-xs-6 col-md-3">
	    <div class="thumbnail">
	      <img src="https://c3.staticflickr.com/8/7564/28372010794_95338d23ec_b.jpg" alt="Triangle GEMconf #emberjs">
				<div class="caption">
					<h3 class="major">GEMconf 2016 day 1</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
					<a href="#" class="special">Read more</a>
				</div>
			</div>
	  </div>

	  <div class="col-xs-6 col-md-3">
	    <div class="thumbnail">
	      <img src="https://c3.staticflickr.com/8/7564/28372010794_95338d23ec_b.jpg" alt="Triangle GEMconf #emberjs">
				<div class="caption">
					<h3 class="major">GEMconf 2016 day 1</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
					<a href="#" class="special">Read more</a>
				</div>
			</div>
	  </div>

	  <div class="col-xs-6 col-md-3">
	    <div class="thumbnail">
	      <img src="https://c3.staticflickr.com/8/7564/28372010794_95338d23ec_b.jpg" alt="Triangle GEMconf #emberjs">
				<div class="caption">
					<h3 class="major">GEMconf 2016 day 1</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
					<a href="#" class="special">Read more</a>
				</div>
			</div>
	  </div>

	  <div class="col-xs-6 col-md-3">
	    <div class="thumbnail">
	      <img src="https://c3.staticflickr.com/8/7564/28372010794_95338d23ec_b.jpg" alt="Triangle GEMconf #emberjs">
				<div class="caption">
					<h3 class="major">GEMconf 2016 day 1</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
					<a href="#" class="special">Read more</a>
				</div>
			</div>
	  </div>

	</div>

	<ul class="actions">
		<li><a href="#" class="button">Browse All</a></li>
	</ul>

<!-- Footer -->
	<section id="footer">
		<div>
			<h2>Links</h2>
			<ul>
				<li>{{fa-icon "code"}} <a href="http://julemagne.github.io/portfolio/">Web dev portfolio</a></li>
				<li>{{fa-icon "twitter"}} <a href="twitter.com/julemagne">twitter.com/julemagne</a></li>
				<li>{{fa-icon "github"}} <a href="github.com/julemagne">github.com/julemagne</a></li>
				<li>{{fa-icon "copyright"}} 2016 Julie David julie.angela.david@gmail.com</li>
			</ul>
		</div>
	</section>

</div>