<div class="page-header">

	<div>
		<img class="header-banner" src="./assets/images/panel-wide.jpg" alt="Triangle GEMconf #emberjs">
	</div>

	<div class="banner-text">
		<h1 class="fadeInSlow">
      Blog and Ideas to Remember <small>posts by Julie David </small>
    </h1>
	</div>

</div>

<div class="container-fluid">

	{{posts-home posts=model}}

  <div class="footer">
    <span style="color:gold;">{{fa-icon "star"}}</span> Made by Julie David 
    <span style="color:#73c91d;">julie.angela.david@gmail.com</span> 
    <span style="color:gold;">{{fa-icon "paint-brush"}}</span>
  </div>

</div>